#title {
	font-size: 200px;
	text-align: center;
	color: green;
	text-decoration-style: bold;	
}

#note_text_entry{
	width: 100%;
	height: 400px;

}

#note_title_entry{
	padding-bottom: 5px;
}

#save_button{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}